<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{title}}</h1>
    </div>
    <div class="col">
      <div class="row">
        <i>Credit:</i>
      </div>
      <div class="row">
        <span>Yr: Værvarsel fra <a href="http://www.yr.no">Yr</a>, levert av NRK og Meteorologisk institutt</span>
      </div>
      <div class="row">
        <span>SMHI: Forecasts from <a href="http://www.smhi.se">SMHI</a>. The data has not been altered.</span>
      </div>
    </div>
  </div>
</div>
  <app-locations-forecast></app-locations-forecast>


