<div *ngIf="location">
  <h2>Weather forecast for {{location.name}}</h2>
</div>
<div *ngIf="forecasts">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">SMHI</th>
      <th scope="col">YR</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let timeSeriesEntry of forecasts">
        <td>{{formatDate(timeSeriesEntry.entries[0].validTime)}}</td>
        <td *ngFor="let i of [0, 1]" width="200px">
          <div class="row">
            <div class="col">
              <img [src]="timeSeriesEntry.entries[i].imageUrl" height="80px">
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{timeSeriesEntry.entries[i].temperature}}°C
            </div>
            <div class="col">
              {{timeSeriesEntry.entries[i].precipitation}}mm
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
