<h2>{{place}}, {{region}}, {{country}}</h2>
<app-location-search [loading]="loading"></app-location-search>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [class.active]="visualization!='graph'" routerLink={{currentLocation}}>Table</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="visualization=='graph'" routerLink="{{currentLocation}}/graph">Graph</a>
  </li>
</ul>
<app-forecast-visualization-wrapper
  [visualization]="visualization"
  [loading]="loading"
  [smhiForecast]="smhiForecast"
  [longTermYrForecast]="longTermYrForecast"
  [yrForecast]="yrForecast">
</app-forecast-visualization-wrapper>
