<div *ngIf="location">
  <h2>Weather forecast for {{location.name}}</h2>
</div>
<div *ngIf="forecast">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">SMHI</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let timeSeriesEntry of forecast.timeSeries">
        <td>{{formatDate(timeSeriesEntry.validTime)}}</td>
        <td width="150px">
          <div class="row">
            <div class="col">
              <img [src]="timeSeriesEntry.imageUrl">
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{timeSeriesEntry.temperature}}°C
            </div>
            <div class="col">
              {{timeSeriesEntry.precipitation}}mm
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
