<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list-group">
          <a *ngFor="let location of locations$ | async"
             href="#"
             class="list-group-item list-group-item-action"
             [class.active]="location === selectedLocation"
             (click)="onSelect(location)">
            {{location.name}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-forecast [location]="selectedLocation"></app-forecast>
