.container-box{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-box input#search-box{
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-color: rgba(29, 32, 35, 0.76);
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-box .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 input#search-box::-webkit-input-placeholder {
  color: #65737e;
}

.container-1 input#search-box:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.container-1 input#search-box::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.container-1 input#search-box:-ms-input-placeholder {
  color: #65737e;
}
